@import url("https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap");

:root {
  --main-color: hsl(36, 87%, 69%);
  --sec-color: white; 
  --bg-color: white;
  --txt1-color: #888;
  --txt2-color: black; 
  --border-color: #DCDCE5;
  --Sub-color-1:black;
  --Sub-color-2:rgb(215, 214, 214);
 
}
 body {
   font-family: "Roboto", sans-serif;
   background: white;
   margin: 0;
 }

 :root {
  --main-color: hsl(36, 87%, 69%);
  --sec-color: white; 
  --bg-color: white;
  --txt1-color: #888;
  --txt2-color: black; 
  --border-color: #DCDCE5;
  --Sub-color-1:black;
  --Sub-color-2:rgb(215, 214, 214);
 
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0px 16px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
}

.left-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-section img{
  width: 124px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.navigation {
  display: flex;
  list-style-type: none;

  li {
    opacity: 1;
    list-style-type: none;
    color: var(--sec-color);
    text-decoration: none;

  }

  .parent {
    padding: 0 10px;
    cursor: pointer;

    .link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      color: var(--main-color);
      

      &:hover {
          color: white;
      }
    }
  }
}

.down-arrow {
  margin-left: 5px;
  align-self: flex-start;
}


.mid-section{
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.mid-section form{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 400px;
  padding: 14px;
  border-radius: 28px;
  background-color: #222;
  border: 1px solid var(--main-color);
  margin-top: 16px;
  height: 10px;
}

.mid-section input{
  width: 100%;
  color: var(--main-color);
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
  padding: 12px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.mid-section input::placeholder,span{
  color: var(--main-color);

}
.mid-section span{
  padding: 6px;
}

#dark_mode_icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-right: 18px;
}

.right-section .btn {
position: relative;
background-color: var(--main-color);
color: #000;
border-radius: 25px;
padding: 6px 10px;
font-size: 15px;
text-align: center;
transition: 0.3s ease-in-out;
margin-right: 18px;
text-decoration: none;
}

.right-section .btn:hover {
color: var(--main-color);
background-color: #ffffff;
}
.right-section{
display:flex
}


.header-avatar{
  width: 26px;
  height: 26px;
  padding-right: 18px;
  margin-top: 3px;
}

/* End Header */

/* *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Yusei+Magic", sans-serif;
    text-decoration: none;
    list-style-type: none;
} */
#toggler {
  -webkit-appearance: none;
  height: 40px;
  width: 80px;
  border-radius: 40px;
  position: relative;
  top: 1.6rem;
  right: 2rem;
  background: transparent;
  box-shadow: 3px 3px 6px  #5c5454 , -3px -3px 6px #5c5454,inset 3px 3px 6px #000 , inset -3px -3px 6px #000;
  cursor: pointer;
}
#toggler:checked::before{
  left: calc(100% - 4px);
  transform: translate(-100%, -50%);
}

#toggler::before {
  content: "";
  position: absolute;
  height: calc(40px - 8px);
  width: calc(40px - 8px);
  background: #000;
  top: 50%;
  left: 4px;
  border-radius: 50%;
  transform: translateY(-50%);
  transition: .9s;
  transition-property: left, ;
}

body.dark #toggler{
  box-shadow: 3px 3px 6px #575757 , -3px -3px 6px #111,inset 3px 3px 6px #575757 , inset -3px -3px 6px #111;
}

body.dark #toggler::before{
  background: #f5be6b;
}

.contactpage {
  min-height: 100vh;
  width: 100%;
  background-image: linear-gradient( #ffffff,#f5be6b);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8rem 0;
}
.contactpage .contactForm {
  height: fit-content;
  padding: 1.8rem 0;
  max-width: 580px;
  width: 450px;
  border-radius: 1rem;
  background: #f5be6b ;
  box-shadow: 11px 11px 16px #999292, -11px -11px 16px #999292 ;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contactpage .heading {
  color: #000;
  margin-bottom: 0.6rem;
}

.contactpage .contactForm .inputGroup {
  display: flex;
  flex-direction: column;
  width: 78%;
  max-width: 360px;
  position: relative;
  margin: 0.6rem auto;
}

.contactpage .contactForm .inputGroup label {
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #000;
}

body.dark .contactpage .contactForm .inputGroup label {
 font-size: 1.4rem;
 font-family: "Quicksand", sans-serif;
 font-weight: 600;
 color: #f5be6b;
}
.inputGroup input[type="text"],
.inputGroup input[type="email"],
.inputGroup textarea {
  background:antiquewhite;
  border: -10px #000;
  border-radius: 5px;
  outline: none;
  padding: 0.6rem 0.2rem;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #767373;
}


.inputGroup textarea {
  height: 100px;
  resize: vertical;
}

.inputGroup textarea::-webkit-scrollbar {
  width: 0;
}

.inputGroup input[type="submit"] {
  width: fit-content;
  padding: 0.4rem 1.4rem;
  font-size: 1.4rem;
  color: #fff;
  border: none;
  outline: none;
  box-shadow: 4px 4px 5px #766f6f , -4px -4px 5px #766f6f ;
  cursor: pointer;
  background: #1a1919;
}

body.dark .contactpage {
  background: #222;
}

body.dark .contactpage .heading {
  color: #f5be6b;

}
body.dark .contactpage .contactForm {
  background: transparent;
  box-shadow: 9px 9px 17px #0e0e0e , -9px -9px 17px #363636;
}

body.dark .inputGroup label {
  color: #ddd;
}

body.dark  .inputGroup input[type="text"],
body.dark .inputGroup input[type="email"],
body.dark  .inputGroup textarea {
  background:#222 ;
  border: -10px #ffffff;
  border-radius: 10px;
  outline: none;
  padding: 0.6rem 0.2rem;
  font-size: 1.4rem;
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  color: #ddd;
} 


body.dark .inputGroup input[type="submit"] {
  color:#f5be6b ;
  background: #000;
  box-shadow: 4px 4px 7px #0e0e0e , -4px -4px 7px #575757;
}

.inputGroup ::placeholder{ 
color: #dad8d8;

}

body.dark .inputGroup ::placeholder{ 
color: #575757;

}

    /*********************** Start Footer ***********************/
    .footer {
      background-color: #191919;
      padding: 30px 60px 10px;
    }

    .footer .container {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;
    }

    .footer .box h3 {
      color: white;
      font-size: 50px;
      margin: 0 0 20px;
    }

    .footer .box .social {
      display: flex;
      margin-bottom: 20px;
    }

    .footer .box .social li {
      margin-right: 15px;
    }

    .footer .box .social li a {
      background-color: #313131;
      color: #b9b9b9;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      width: 50px;
      height: 50px;
      transition: 0.3s;
    }

    .footer .box .social .facebook:hover {
      background-color: #1877f2;
    }

    .footer .box .social .twitter:hover {
      background-color: #1da1f2;
    }

    .footer .box .social .youtube:hover {
      background-color: #ff0000;
    }

    .footer .box .text {
      line-height: 2;
      color: #b9b9b9;
    }

    .footer .box .line {
      color: #b9b9b9;
      margin-bottom: 30px;
    }

    .footer .box .line .info {
      line-height: 1.7;
      flex: 1;
    }

    .footer .box .line .info span {
      display: block;
    }

    .footer .copyright {
      padding: 25px 0;
      text-align: center;
      color: white;
      margin: 50px 0 0;
      border-top: 1px solid #444;
    }
    /**********************@ End Footer ***********************/