*{
    box-sizing: border-box;
}
.countainer{
    padding-right: 15px;
    padding-left:15px;
    margin-left: auto;
    margin-right: auto;
}

      :root {
        --main-color: #f5be6b;
      }
      * {
      
        text-decoration: none;
        list-style-type: none;
        margin: 0;
        padding: 0;
      }

      body {
        font-family: "Roboto", sans-serif;
        background:black;
        position: relative;
      }

      :root {
        --main-color: hsl(36, 87%, 69%);
        --sec-color: white; 
        --bg-color: white;
        --txt1-color: #888;
        --txt2-color: black; 
        --border-color: #DCDCE5;
        --Sub-color-1:black;
        --Sub-color-2:rgb(215, 214, 214);
       
      }
      
      header{
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 72px;
        padding: 0px 16px;
        background-color: #222;
        box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
      }
      
      .left-section{
        display: flex;
        align-items: center;
        cursor: pointer;
      }
      
      .left-section img{
        width: 124px;
        margin-top: 16px;
        margin-bottom: 6px;
      }
      
      .navigation {
        display: flex;
        list-style-type: none;
      
        li {
          opacity: 1;
          list-style-type: none;
          color: var(--sec-color);
          text-decoration: none;
      
        }
      
        .parent {
          padding: 0 10px;
          cursor: pointer;
      
          .link {
            position: relative;
            display: flex;
            align-items: center;
            text-decoration: none;
            font-size: 16px;
            color: var(--main-color);
            
      
            &:hover {
                color: white;
            }
          }
        }
      }
      
      .down-arrow {
        margin-left: 5px;
        align-self: flex-start;
      }
      
      
      .mid-section{
        display: flex;
        align-items: center;
        margin-left: 4%;
      }
      
      .mid-section form{
        margin-bottom: 16px;
        display: flex;
        align-items: center;
        width: 400px;
        padding: 14px;
        border-radius: 28px;
        background-color: #222;
        border: 1px solid var(--main-color);
        margin-top: 16px;
        height: 10px;
      }
      
      .mid-section input{
        width: 100%;
        color: var(--main-color);
        margin-left: 14px;
        outline: none;
        border: none;
        background: transparent;
        width: 300px;
        padding: 12px;
        font-size: 16px;
        font-family: "Open Sans", sans-serif;
      }
      
      .mid-section input::placeholder,span{
        color: var(--main-color);
      
      }
      .mid-section span{
        padding: 6px;
      }
      
      #dark_mode_icon{
        width: 30px;
        height: 30px;
        cursor: pointer;
        padding-right: 18px;
      }
        .dark i{
        font-size: 35px; 
        color: rgb(250, 251, 235);
     }
      
      .right-section .btn {
      position: relative;
      background-color: var(--main-color);
      color: #000;
      border-radius: 25px;
      padding: 6px 10px;
      font-size: 15px;
      text-align: center;
      transition: 0.3s ease-in-out;
      margin-right: 18px;
      text-decoration: none;
      }
      
      .right-section .btn:hover {
      color: var(--main-color);
      background-color: #ffffff;
      }
      .right-section{
      display:flex
      }
      
      
      .header-avatar{
        width: 40px;
        height: 26px;
        padding-right: 18px;
        margin-top: 3px;
      }
      
      /* End Header */
/* start main */
.main {
  /* background-color: rgb(214, 223, 216); */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  position: relative;
}
.main .countainer{
    padding: 20px;
  
}
.main img{
  width: 420px;
  height: 450px;
  border: solid 5px #423e3e;
  border-radius: 35px;
  margin-right: 30px;
}
.about h1{
  position: absolute;
    top: 18px;
    left: 24%;
    font-size: 40px;
    color :rgb(250, 251, 235);
}
.about h1:hover{
  color: var(--main-color);
}

.main .about_cource{
  margin: 6px;
  letter-spacing: 0.6px;
  width: 800px;
  border: solid 3px var(--main-color);
  border-radius: 14px;
  padding-left: 11px;
  background-color: #423e3e;
  color :rgb(250, 251, 235);
}


.main .about_cource h3{
  margin-bottom: 4px;
    margin-top: 2px;
    text-align: center;
    font-size: larger;
}
.main .about_cource p{
  margin-top: 0px;
  margin-right: 8px;

}
  
/*======================= end main ============================*/

.course{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: absolute; 
  top: 16.5%;
  left: 32%;
  color:rgb(250, 251, 235) ;
}
 .course h1{
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius:20px;
  border:  solid 2px var(--main-color);
  width: fit-content;
  transition: 0.3s;
  background-color: #423e3e;
}
.course h1:hover{
  background-color: var(--main-color);
  padding-left: 30px;
  padding-right: 30px;
}
.second-main {
  display: flex;
  justify-content: center;

}
.second-main .countainer{
  display: flex;
  margin-top: 25px;
  margin-left: 50px;
  margin-right: 50px;
  justify-content: space-between;
  padding-top: 25px;
 position: relative;
 background-color:#423e3e;
 height: 400px;
 border-radius: 20px;
 border: solid 2px var(--main-color) ;
 /* top: 4%; */
 width: 950px;
 color: rgb(250, 251, 235);
}
.inculde-coures{
  margin-right: 30px;
  width: 330px;
}
.inculde-coures h2{
  font-size: 20px;
  padding-bottom: 10px;
}
.inculde-coures li{
  padding-bottom: 19px;
  font-size: 17px;
  padding-left: 13px;
}
.inculde-coures li i{
  font-size: 26px;
  padding-top: 5px;
  position: relative;
  top: 5px;
  color: #e89314;
}
.inculde-coures li span{
  font-size: 19px;
}
.cover_courses{
   width: 600px;
}
 .in_coures{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 12px;
 } 
 .in_coures .contant{
  margin-top: 10px;
  margin-right: 20px;
  font-size: 16px;
    font-weight: 500;
 }.cover_courses .User{
margin-top: 20px;
}
.cover_courses .User h4{
  margin-bottom: 6px;
font-size: 18px;
}
.cover_courses .User p{
   padding-left: 13px;
    opacity: 65%;
    letter-spacing: 0.6px;
}
.techer{
  padding: 10px;
  padding-right: 0;
  width: 300px;
  background-color:#423e3e ;
  border: solid 2px  var(--main-color);
  border-radius: 20px;
   margin-top: 30px;
   color: rgb(250, 251, 235);

}
.techer h2{
  font-size: 30px;
  padding-left: 6px;
  margin-bottom: 10px;
}
.techer h4{
  font-size: 17px;
  text-decoration:underline;
  color:gold;
}
.techer .jop{
  font-size: 17px;
  padding-left: 13px;
  opacity: 65%;
  letter-spacing: 0.6px;
  margin-bottom: 3px;
}
.techer div{
  display: flex;
}
.techer .icon{
  align-items: center;
}
.techer .icon ul{
  margin-left: 10px;
}
.techer .icon li{
  margin-bottom: 8px;
  padding-bottom: 4px;
  border-bottom: solid 1px  #949494 ;
  
}
.techer .icon i{
  font-size: 20px;
  color: goldenrod;
  margin-right: 3px;
  margin-bottom: 0;
}

.techer img{
  width: 150px;
  height: 200px;
  border-radius: 10px;
  border-color: rgb(109, 104, 104);
  margin-bottom: 5px;
}
.audio{
  display: flex;
  position: absolute;
  top: 35%;
 left: 15%;
}
.audio h2{
  font-size: 40px;
  /* font-style: oblique; */
  margin-right: 12px;
  border: solid 2px var(--main-color);
  border-radius: 10px;
  background-color: #423e3e;
  padding-left: 9px;
  padding-right: 9px;
  color: rgb(250, 251, 235);
}
.audio h2:hover{
  background-color: var(--main-color);
}


/*========================== strat video ============================*/
.video{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 10px;
  position: relative;
  color:rgb(250, 251, 235) ;
 
}
.video  h1{
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius:20px;
  border:  solid 2px var(--main-color);
  width: fit-content;
  transition: 0.3s;
  background-color: #423e3e;
}

.video h1:hover{
  background-color: var(--main-color);
  padding-left: 35px;
  padding-right: 35px;
}

.video-main .countainer{
  display: flex;
  margin-top: 13px;
  margin-left: 50px;
  margin-right: 50px;
justify-content: center;
  padding-top: 25px;
 position: relative;
}
.video-main .bottom-video{
  border: solid 2px  var(--main-color);
}
.video-main .bottom-video h2{
  font-size: 25px;
  margin-bottom: 13px;
  display: flex;
  background-color: #423e3e;
  color: rgb(250, 251, 235);
  padding: 20px;
}
.video-main .bottom-video ul{
  padding-left: 9px;
  padding-right: 40px;
  color: rgb(250, 251, 235);
  /* background-color: #ffffff */
}
.video-main .bottom-video li{
  margin-bottom: 12px;
  border-bottom: solid 2px rgb(214, 223, 216);
}
.video-main .bottom-video li p{
  text-transform: uppercase;
  font-size: 20px;
  margin-top: 8px;
  margin-bottom: 8px;
}
.video-main .bottom-video li h5{
  padding-left: 3px;
  opacity: 54%;
  margin-bottom: 12px;
}
 .video-main .top-video{
  background-color: #423e3e ;
  padding: 10px;
 }
 .video-main .top-video video{
  display: flex;
  width: 860px;
    height: 680px;
    display: none;
 }
 .video-main .top-video img{
  width: 860px;
    height: 680px;
 }
 .video-main .top-video .icon{
  margin-top: 10px;
  color: rgb(250, 251, 235);
 }
 .video-main .top-video .icon i{
  font-size: 24px;
  margin: 5px;
}
.video-main .top-video .icon p{
color :var(--main-color);
font-size: 17px;
display:none;
}
/* ============================== */
.reference{
  display: flex;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}
.reference  h1{
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius:20px;
  border:  solid 2px var(--main-color);
  color: rgb(250, 251, 235);
  width: fit-content;
  transition: 0.3s;
  background-color: #423e3e;
}

.reference h1:hover{
  background-color: var(--main-color);
  padding-left: 30px;
  padding-right: 30px;
}
.reference-main{
  margin: 20px;
}
.reference-main .countainer{
  width: 80%;
  background-color: #423e3e ;
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-radius: 35px;
  border:solid 2px var(--main-color);
  color: rgb(250, 251, 235);
}
.reference-main iframe{
  margin: 12px;
  margin-top: 0;
 }
.reference-main .countainer h2{
  font-size: 35px;
  margin-bottom: 0px;
  padding: 15px;
  text-align: center;
}
.reference-main .countainer iframe{
  width: 330px;
  height: 350px;
}
 /*********************** Start Footer ***********************/
      .footer {
        background-color: #191919;
        padding: 30px 60px 10px;
      }
      .footer .container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;
      }
      .footer .box h3 {
        color: white;
        font-size: 50px;
        margin: 0 0 20px;
      }
      .footer .box .social {
        display: flex;
        margin-bottom: 20px;
      }
      .footer .box .social li {
        margin-right: 15px;
      }
      .footer .box .social li a {
        background-color: #313131;
        color: #b9b9b9;
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: 50px;
        height: 50px;
        transition: 0.3s;
      }
      .footer .box .social .facebook:hover {
        background-color: #1877f2;
      }
      .footer .box .social .twitter:hover {
        background-color: #1da1f2;
      }
      .footer .box .social .youtube:hover {
        background-color: #ff0000;
      }
      .footer .box .text {
        line-height: 2;
        color: #b9b9b9;
      }
      .footer .box .line {
        color: #b9b9b9;
        margin-bottom: 30px;
      }
      .footer .box .line .info {
        line-height: 1.7;
        flex: 1;
      }
      .footer .box .line .info span {
        display: block;
      }
      .footer .copyright {
        padding: 25px 0;
        text-align: center;
        color: white;
        margin: 50px 0 0;
        border-top: 1px solid #444;
      }
      /**********************@ End Footer ***********************/
