:root {
    --main-color: hsl(36, 87%, 69%);
    --sec-color: white; 
    --bg-color: #f1f5f9;
    --txt1-color: #888;
    --txt2-color: black; 
   
  }
.dark-theme{
    --main-color: #f5be6b;
    --sec-color: #222;
    --bg-color: black;
    --txt1-color: white;
    --txt2-color: #eee;
}

html{
    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

/* Start Header */

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 72px;
    padding: 0px 16px;
    background-color: #222;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
    max-width: 100%;
}

.left-section{
    display: flex;
    align-items: center;
    cursor: pointer;
}

.left-section img{
    width: 124px;
    margin-top: 16px;
    margin-bottom: 6px;
}

.navigation {
    display: flex;
    list-style-type: none;

    li {
      opacity: 1;
      list-style-type: none;
      color: var(--sec-color);
      text-decoration: none;

    }

    .parent {
      padding: 0 10px;
      cursor: pointer;

      .link {
        position: relative;
        display: flex;
        align-items: center;
        text-decoration: none;
        font-size: 16px;
        color: var(--main-color);
        

        &:hover {
            color: white;
        }
      }
    }
  }

  .down-arrow {
    margin-left: 5px;
    align-self: flex-start;
  }


.mid-section{
    display: flex;
    align-items: center;
    margin-left: 4%;
}

.mid-section form{
    margin-bottom: 16px;
    display: flex;
    align-items: center;
    width: 400px;
    padding: 14px;
    border-radius: 28px;
    background-color: #222;
    border: 1px solid var(--main-color);
    margin-top: 16px;
    height: 10px;
}

.mid-section form:hover{
    border: 2px solid white;

}

.mid-section input{
    width: 100%;
    color: var(--main-color);
    margin-left: 14px;
    outline: none;
    border: none;
    background: transparent;
    width: 300px;
    padding: 12px;
    font-size: 16px;
    font-family: "Open Sans", sans-serif;
}


.mid-section input::placeholder,span{
    color: var(--main-color);

}



.mid-section span{
    padding: 6px;
}
.mid-section span:hover{
    color: white;
    cursor: pointer;
}

#dark_mode_icon{
    width: 24px;
    cursor: pointer;
    padding-right: 18px;
}

.right-section a{
    padding-right: 18px;
    text-decoration: none;
    color: var(--main-color);

}

.right-section a:hover{
    color: #eee;
    width: 26px;
}

.header-avatar{
    width: 24px;
}

/* End Header */

.avatar-box{
    text-align: center;
    padding: 20px;
    margin-left: 50px;
}


.profile-page{
    margin: 20px;
    max-width: 90%;
    margin: 20px auto;
}

.overview{
    background-color: var(--sec-color);
    color: var(--txt2-color);
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 15px 0;
}

.profile-avatar{
    width: 170px;
    height: 170px;
    border-radius: 50%;
    margin-bottom: 10px;
}
.name-under-avatar{
    margin: 0;
    font-size: 30px;

}

.level{
    color: var(--txt1-color);
    font-size: 20px;
    margin: 0px;
}

.level-progress{
    margin-left: 24px;
    background-color: #888;
    border-radius: 6px;
    position: relative;
    height: 6px;
    overflow: hidden;
    margin-top: 22px;
    width: 70%;
}

.progress{
    width: 70%;
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    background-color: var(--main-color);
}


.five-stars{
    margin-top: 16px;
    width: 120px;
}

.info-box{
    margin: 0 50px;
    width: 100%;
    
}

.box1,.box2,.box3,.box4{
    padding: 20px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    border-bottom: 1px solid var(--txt1-color);
}

.box1 > div{
    min-width: 250px;
    padding: 10px 0 0;
}

.gen-info{
    color: var(--txt1-color);
    font-size: 15px;
    margin: 0;
    width: 100%;
    font-weight: normal;
}

.bold-info{
    font-size: 14px;
    color: var(--txt1-color);
}

.small-info{
    font-size: 14px;
    color: var(--txt2-color);
    background-color: transparent;
    border: none;
    font-family: "Open Sans", sans-serif;
    width: 140px
}

.small-info:focus {
    border: none;
    outline: none;
  }

.box2 > div{
    min-width: 250px;
    padding: 10px 0 0;
}

.box3 > div{
    min-width: 250px;
    padding: 10px 0 0;
}

.box4{
    border: none;
}

.box4 > div{
    min-width: 250px;
    padding: 10px 0 0;
}

.edit-info{
    margin-left: auto;
    border-radius: 8px;
    font-family: "Open Sans",sans-serif;
    background-color: var(--main-color);
    color: black;
    border: 1px solid var(--main-color);
    padding: 2px 12px;
}

.edit-info:hover{
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.other-data{
    display: flex;
    gap: 20px;
}

.skills-card{
    padding: 20px;
    background-color: var(--sec-color);
    border-radius: 10px;
    margin-top: 20px;
    flex-grow: 1;
}

.skills-card > h2{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--txt2-color);
    font-size: 30px;
}

.skills-card > p{
    margin-top: 12px;
    margin-bottom: 20px;
    color: var(--txt1-color);
    font-size: 16px;
}

.skills-list{
    margin: 0;
    list-style: none;
    padding: 0;
}

.skills-list > li{
    color: var(--main-color);
    padding: 15px 0;
}

.skills-list > li:not(:last-child){
    border-bottom: 1px solid var(--txt1-color);
}

.skill{
    display: inline-flex;
    padding: 4px 10px;
    background-color: var(--bg-color);
    border-radius: 6px;
    font-size: 16px;
    color: var(--txt2-color);
    border: 1px solid var(--txt1-color);
}

.skill:hover{
    background-color: var(--main-color);
    cursor: pointer;
    color: var(--bg-color);
}

.skill:not(:last-child){
    margin-right: 5px;
}

.activities{
    padding: 20px;
    background-color: var(--sec-color);
    border-radius: 10px;
    margin-top: 20px;
    flex-grow: 2;
}


.activities > h2{
    margin-top: 0;
    margin-bottom: 0;
    color: var(--txt2-color);
    font-size: 30px;
}

.activities > p{
    margin-top: 12px;
    margin-bottom: 20px;
    color: var(--txt1-color);
    font-size: 16px;
}

.activity{
    display: flex;
    align-items: center;

}

.activity:not(:last-of-type){
    border-bottom: 1px solid var(--txt1-color);
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.activity > img{
    width: 64px;
    height: 64px;
    margin-right: 10px;
}



.acheivement-title{
    display: block;
    margin-bottom: 10px;
    color: var(--txt2-color);
    font-size: 16px;
}

.acheivement-disc{
    color: var(--txt1-color);
    font-size: 16px;
}

.date{
    margin-left: auto;
    text-align: right;
}
 
form{
    display: inline-flex;
}

form >div{
    min-width: 250px;
    padding: 10px 0 0;
}

  /*********************** Start Footer ***********************/
  .footer {
    background-color: #222;
    padding: 30px 60px 10px;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
  }

  .footer .box .social {
    display: flex;
    margin-bottom: 20px;
  }

  .footer .box .social li {
    margin-right: 15px;
    list-style-type: none;
    
  }

  .footer .box .social li a {
    background-color: #313131;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
    
  }

  .footer .box .social .facebook:hover {
    background-color: #1877f2;
  }

  .footer .box .social .twitter:hover {
    background-color: #1da1f2;
  }

  .footer .box .social .youtube:hover {
    background-color: #ff0000;
  }

  .footer .box .text {
    line-height: 2;
    color: #b9b9b9;
  }

  .footer .box .line {
    color: #b9b9b9;
    margin-bottom: 30px;
  }

  .footer .box .line .info {
    line-height: 1.7;
    flex: 1;
  }

  .footer .box .line .info span {
    display: block;
  }

  .footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
  }
  /**********************@ End Footer ***********************/
