:root {
    --main-color: hsl(36, 87%, 69%);
    --sec-color: white; 
    --bg-color: white;
    --txt1-color: #121117;
    --txt2-color: black; 
    --border-color: #DCDCE5;

  }
.dark-theme{
    --main-color: #f5be6b;
    --sec-color: #222;
    --bg-color: black;
    --txt1-color: #888;
    --txt2-color: white;
    --border-color: #888;
}

html{

    font-family: "Open Sans", sans-serif;
}

body {
    margin: 0;
    background-color: var(--bg-color);
}

:root {
  --main-color: hsl(36, 87%, 69%);
  --sec-color: white; 
  --bg-color: white;
  --txt1-color: #888;
  --txt2-color: black; 
  --border-color: #DCDCE5;
  --Sub-color-1:black;
  --Sub-color-2:rgb(215, 214, 214);
 
}

header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0px 16px;
  background-color: #222;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 5px 15px 0px;
  max-width: 100%;
}

.left-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.left-section img{
  width: 124px;
  margin-top: 16px;
  margin-bottom: 6px;
}

.navigation {
  display: flex;
  list-style-type: none;

  li {
    opacity: 1;
    list-style-type: none;
    color: var(--sec-color);
    text-decoration: none;

  }

  .parent {
    padding: 0 10px;
    cursor: pointer;

    .link {
      position: relative;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-size: 16px;
      color: var(--main-color);
      

      &:hover {
          color: white;
      }
    }
  }
}

.down-arrow {
  margin-left: 5px;
  align-self: flex-start;
}


.mid-section{
  display: flex;
  align-items: center;
  margin-left: 4%;
}

.mid-section form{
  margin-bottom: 16px;
  display: flex;
  align-items: center;
  width: 400px;
  padding: 14px;
  border-radius: 28px;
  background-color: #222;
  border: 1px solid var(--main-color);
  margin-top: 16px;
  height: 10px;
}

.mid-section form:hover{
  border: 2px solid white;

}

.mid-section input{
  width: 100%;
  color: var(--main-color);
  margin-left: 14px;
  outline: none;
  border: none;
  background: transparent;
  width: 300px;
  padding: 12px;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
}

.mid-section input::placeholder,span{
  color: var(--main-color);

}
.mid-section span{
  padding: 6px;
}

.mid-section span:hover{
  color: white;
  cursor: pointer;
}

#dark_mode_icon{
  width: 30px;
  height: 30px;
  cursor: pointer;
  padding-right: 18px;
}

.right-section .btn {
position: relative;
background-color: var(--main-color);
color: #000;
border-radius: 25px;
padding: 6px 10px;
font-size: 15px;
text-align: center;
transition: 0.3s ease-in-out;
margin-right: 18px;
text-decoration: none;
}

.right-section .btn:hover {
color: var(--main-color);
background-color: #ffffff;
}
.right-section{
display:flex
}


.header-avatar{
  width: 26px;
  height: 26px;
  padding-right: 18px;
  margin-top: 3px;
}

/* End Header */

  /*********************** Start Ad ***********************/

 .ad{
    display: flex;
    margin-top: 30px;
    margin: 30px auto 0 auto;
    align-items: center;
    width: 80%;
    max-width: 80%;
 }


 .ad-header{
    font-size: 45px;
    color: var(--txt2-color);
 }

 .ad-groups{
    display:flex;
    align-items: center;
 }

 .ad-group:not(:first-child){
    padding-left: 100px;
    justify-content: space-between;
    align-items: center;
 }

 .strong{
    font-size: 26px;
    margin: 0;
    color: var(--txt2-color);
 }

 .weak{
    font-size: 14px;
    margin-top: 0;
    color: var(--txt2-color);
 }

 .ad-levels{
    width: 670px;
 }

 .ad-photo{
    /* margin-right: 100px; */
    padding-left: 100px;
 }

  /*********************** @ End Ad ***********************/
 .regist{
  display: flex;
  gap: 10%;
 }


  /*********************** Start About ***********************/

 .about{
    padding-top: 100px;
    border-radius: 10px;
    margin-top: 30px;
    margin-bottom: 50px;
    flex-grow: 1;
    width: 35%;
    margin-left: 10%;
 }

 .about-h{
    font-size: 30px;
    margin-top: 0;
    margin-bottom: 0;
    color: var(--txt2-color);
 }

 .about-p{
    margin-top: 12px;
    margin-bottom: 20px;
    color: var(--txt1-color);
    font-size: 18px;
 }

.about-input{
    margin-bottom: 24px;
    display: block;
    width: 400px;
    height: 42px;
    margin-left: 2px;
    padding-left: 12px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 8px;
    background: transparent;
    border: 2px solid var(--border-color);
    border-radius: 8px;
    font-size: 16px;
    color: var(--txt2-color);
}

.about-input:hover{
    border: 2px solid var(--txt2-color);
}

.upload-button{
    margin-top: 18px;
    margin-bottom: 26px;
    margin-left: 2px;
}

#actual-btn{
    border: none;
    margin-top: 20px;
    font-size: 18px;

}

.input-button {
    background-color: var(--bg-color);
    color: var(--txt2-color);
    padding: 8px 16px;
    font-family: "Open-sans",sans-serif;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 20px;
    font-size: 16px;
    border: 2px solid var(--border-color);
}


.input-title{
    font-size: 18px;
    color: var(--txt2-color);
    display: block;
}

.confirmation{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

#age-con{
    width: 20px;
    height: 20px;
    display: inline;
    border: 1px solid var(--border-color);
}

.checkbox-label{
    font-size: 18px;
    margin-left: 8px;
    color: var(--txt2-color);
}


/*********************** @End About ***********************/

/*********************** Start MCQ ***********************/

.mcq{
  border-radius: 10px;
  margin-top: 30px;
  margin-bottom: 50px;
  flex-grow: 1;
  padding-top: 100px;
  flex-grow: 1;
  margin-right: 10%;
  width: 35%;
}

.mcq-h{
  font-size: 30px;
  margin-top: 0;
  margin-bottom: 0;
  color: var(--txt2-color);
}

.mcq-p{
  margin-top: 12px;
  margin-bottom: 20px;
  color: var(--txt1-color);
  font-size: 18px;
}

.question-label{
  display: block;
  font-size: 18px;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  color: var(--txt2-color);
}

.answer{
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-bottom: 10px;
  width: 400px;
  height: 42px;
  margin-left: 2px;
  padding-left: 12px;
  font-family: 'Open Sans', sans-serif;
  margin-top: 8px;
  background: transparent;
  border: 2px solid var(--border-color);
  border-radius: 8px;
  font-size: 16px;
  color: var(--txt2-color);
}

.answer:hover{
  border: 2px solid var(--main-color);
}

.radio-label{
  font-size: 18px;
  color: var(--txt2-color);
  margin-left: 8px;
}

.mcq-input{
  width: 18px;
  height: 18px;
}


/*********************** @End MCQ ***********************/

/*********************** Start Submition ***********************/


.buttons{
    margin-left: auto;
    text-align: center;
    margin-top: 24px;
}

#reset,#submit{
    background-color: var(--main-color);
    color: black;
    padding: 8px 16px;
    font-family: "Open-sans",sans-serif;
    border-radius: 8px;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 16px;
    border: 2px solid var(--bg-color);
}

#submit{
    margin-left: 10px;
}

.input-button:hover,#reset:hover,#submit:hover,#age-con:hover,.about-input:hover{
    border: 2px solid var(--main-color);
}

/*********************** @End Submition ***********************/

/*********************** Start Footer ***********************/
  .footer {
    background-color: #222;
    padding: 30px 60px 10px;
  }

  .footer .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
  }

  .footer .box h3 {
    color: white;
    font-size: 50px;
    margin: 0 0 20px;
  }

  .footer .box .social {
    display: flex;
    margin-bottom: 20px;
  }

  .footer .box .social li {
    margin-right: 15px;
    list-style-type: none;
  }

  .footer .box .social li a {
    background-color: #313131;
    color: white;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    transition: 0.3s;
  }

  .footer .box .social .facebook:hover {
    background-color: #1877f2;
  }

  .footer .box .social .twitter:hover {
    background-color: #1da1f2;
  }

  .footer .box .social .youtube:hover {
    background-color: #ff0000;
  }

  .footer .box .text {
    line-height: 2;
    color: #b9b9b9;
  }

  .footer .box .line {
    color: #b9b9b9;
    margin-bottom: 30px;
  }

  .footer .box .line .info {
    line-height: 1.7;
    flex: 1;
  }

  .footer .box .line .info span {
    display: block;
  }

  .footer .copyright {
    padding: 25px 0;
    text-align: center;
    color: white;
    margin: 50px 0 0;
    border-top: 1px solid #444;
  }
  /**********************@ End Footer ***********************/
